<!-- views/home.handlebars -->
{{#if user}}
  <div class="jumbotron">
    <h1>Codepair User App</h1>
    <p>Below is your profile information!</p>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">choose the language you want to use</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
      <p>Avatar: <img src="{{user.avatar}}"/></p>
    </div>
  </div>

{{else}}
  <div class="jumbotron">
    <h1>Welcome to codepair</h1>
    <p>Sign in and start coding!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
    </p>
  </div>
  <div class="container">
    <h1>Firebase Chat Application</h1>
 
    <div class="panel panel-default">
        <div class="panel-body"></div>
        <div class="panel-footer">
 
            <form role="form">
                <div class="form-group">
                    <label for="comments">Please enter your comments here</label>
                    <input class="form-control" id="comments" name="comments">
                </div>
 
                <button type="submit" id="submit-btn" name="submit-btn"
                    class="btn btn-primary">Send Comments</button>
 
                <button type="reset" class="btn btn-default">Clear Comments</button>
            </form>
 
        </div>
    </div>
</div>


{{/if}}